body {
    font-family: Noto Sans;
    font-weight: 700;
    background-image: url(background.png);
    width: auto;
    height: 100%;
    image-resolution: auto;
}

#calosc {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

#header {
    margin-top: 50px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: rgb(255, 136, 0);
}

#element-jeden {
    margin-right: 20px;
    padding: 10px;
    width: 100%;
}

#main {
    margin-top: 15px;
    width: 100%;
}

#element-dwa {
    padding: 10px;
    width: 60%;
    float: left;
    color: white;
    background-color: rgb(5, 5, 17);
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.textcolor {
    animation: changeColor 5s infinite;
}
  @keyframes changeColor {
    0% {color: red; }
    25% {color: blue; }
    50% {color: green; }
    75% {color: rgb(255, 102, 0); }
    100% {color: rgb(255, 0, 0); }
}

#element-trzy {
    padding: 10px;
    width: 33%;
    float: right;
    color: white;
    background-color: rgb(5, 5, 17);
    border-radius: 5px;
    justify-content: right;
    text-align: center;
    box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
}

.pole {
    width: 80%;
    height: 20px;
    border-radius: 5px;
    border: 0px solid white;
    font-family: Noto Sans;
    font-weight: 600;
}

#footer {
    margin-top: 25px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: rgb(255, 136, 0);
    box-shadow: 0px 0px 5px black;
    padding-top: 5px;
    padding-bottom: 5px;
}