* {
    font-family: Noto Sans;
    transition: all 0.5s ease-in-out;
}

body {
    margin: 0;
    background-image: url(../grafika/bg2.png);
    background-size: cover;
    background-position: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 0rem;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(5px);
}

main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: white;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin-top: 6.9rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(5px);
    color: white;
}

footer a {
    text-decoration: none;
    color: orange;
}

#nav {
    display: none;
}

#main-picture img {
    animation: wejsciedwa 2s;
    width: 300px;
    transition: all 0.5 ease-in;
    animation-delay: 500ms;
    transform: translateX(-100%);
    animation-fill-mode: forwards;
}

@keyframes wejsciedwa {
    0% {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

.regulamin {
    opacity: 0;
    animation: opacity 2s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.platnosci {
    opacity: 0;
    animation: opacity 2s;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.social-media {
    opacity: 0;
    animation: opacity 2s;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#menu-nav {
    display: none;
}

#navbar span {
    background-color: rgb(255, 255, 255);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bolder;
}

#navbar a {
    text-decoration: none;
    color: black;
}

main span a {
    color: orange;
    text-decoration: none;
}

main span h2 {
    padding: 1rem 0rem;
}

#B2,
#B3 {
    box-shadow: 0 0 1rem black;
    border-radius: 10px;
    padding: 0rem 4rem 3rem 4rem;
}

#B2 {
    margin-bottom: 2rem;
}

@media (max-width: 1280px) {
    #B2,
    #B3 {
        box-shadow: 0 0 1rem black;
        border-radius: 10px;
        padding: 0rem 2rem 3rem 2rem;
}
}

@media (max-width: 820px) {
    main {
        font-size: 14px;
    }

    #navbar span {
        display: none;
    }

    #menu-nav {
        display: block;
    }

    #nav {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.473);
        backdrop-filter: blur(5px);
        text-align: center;
        z-index: 999;
        position: fixed;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        line-height: 2;
    }
    
    #nav a {
        color: white;
        font-size: 35px;
        text-decoration: none;
        padding-top: 3rem;
        border-bottom: 2px dashed rgba(255, 255, 255, 0.445);
    }

    #nav button {
        font-size: 35px;
        background-color: transparent;
        border: 0;
        color: white;
        padding-top: 85%;
    }

    #menu-nav {
        background-color: rgb(255, 255, 255);
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 5px;
        font-weight: bolder;
        color: black;
        font-size: 1rem;
    }

    #main-picture img {
        width: 200px;
    }

    footer {
        margin-top: 2rem;
    }

}