body {
    background-image: url(bgphoto.png);
    height: 100%;
    font-family: Noto Sans;
    font-weight: 600;
}

#-calosc- {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    animation: wejscie 0.5s ease-in-out;
}

@keyframes wejscie {
    0% {
            transform: translateX(-150%);
    }
    100% {
            transform: translateX(0);
    }
}

#-header- {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

#-main- {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#-footer- {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#-btn- {
    border-radius: 5px;
    background-color: rgb(0, 191, 255);
    border: 0px solid black;
    box-shadow: 0px 0px 5px black;
    font-weight: 600;
    width: 100px;
    height: 50px;
}

#-btn-:hover {
    background-color: rgb(0, 124, 165);
    color: white;
}


@media (max-width: 768px) {
    #-element img {
        display: none;
    }

    #-calosc- {
        width: 100%; 
    }

    #-header- table {
        width: 100%; 
        text-align: center;
    }

    #-btn- {
        border-radius: 5px;
        background-color: rgb(0, 191, 255);
        border: 0px solid black;
        box-shadow: 0px 0px 5px black;
        font-weight: 600;
        width: 100px;
        height: 50px;
        margin-right: 50px;
    }
    
}
