@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: Noto Sans;
    transition: all 0.5s ease-in-out;
}

body {
    margin: 0;
    background-image: url(../grafika/bg2.png);
    background-size: cover;
    background-position: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 2000px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 0rem;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(5px);
}

main {
    width: 78%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#menu-nav {
    display: none;
}

#nav {
    display: none;
}

#main-picture img {
    animation: wejsciedwa 2s;
    width: 300px;
    transition: all 0.5 ease-in;
    animation-delay: 500ms;
    transform: translateX(-100%);
    animation-fill-mode: forwards;
}

@keyframes wejsciedwa {
    0% {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

#navbar span {
    background-color: rgb(255, 255, 255);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bolder;
}

.regulamin {
    opacity: 0;
    animation: opacity 2s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.platnosci {
    opacity: 0;
    animation: opacity 2s;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.social-media {
    opacity: 0;
    animation: opacity 2s;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#navbar a {
    text-decoration: none;
    color: black;
}

#container {
    color: white;
    line-height: 1.6;
    font-size: 20px;
}

#ziorbek {
    display: flex;
    box-shadow: 0rem 0rem 1rem black;
    height: 450px;
    overflow: hidden;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#ziorbek:hover {
    backdrop-filter: blur(5px);
}

#ziorbek img {
    height: 650px;
    transform: translateX(-50px);
}

#T1 ul li {
    list-style-type: none;
}

#freeman {
    display: flex;
    box-shadow: 0rem 0rem 1rem black;
    height: 1750px;
    overflow: hidden;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#freeman:hover {
    backdrop-filter: blur(5px);
}

#freeman ul li {
    list-style-type: none;
}

#T2 {
    transform: scaleX(-1) translateY(550px) rotate(20deg) translateX(-450px);
}

#maja {
    display: flex;
    box-shadow: 0rem 0rem 1rem black;
    height: 500px;
    overflow: hidden;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#maja:hover {
    backdrop-filter: blur(5px);
}

#maja img {
    height: 700px;
    transform: translateX(-50px);
}

#T3 ul li {
    list-style-type: none;
}

#ing {
    display: flex;
    box-shadow: 0rem 0rem 1rem black;
    height: 350px;
    overflow: hidden;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#ing:hover {
    backdrop-filter: blur(5px);
}

#ing ul li {
    list-style-type: none;
}

#T5 img {
    transform: scaleX(-1) translateX(-100px);
    height: 650px;
}

#kawa {
    display: flex;
    box-shadow: 0rem 0rem 1rem black;
    height: 350px;
    overflow: hidden;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#kawa:hover {
    backdrop-filter: blur(5px);
}

#kawa img {
    height: 500px;
}

#T6 ul li {
    list-style-type: none;
}

.copyright {
    font-size: 15px;
    font-style: italic;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(5px);
    color: white;
}

footer a {
    text-decoration: none;
    color: orange;
}

@media (max-width: 1600px) {
    main {
        width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
}

@media (max-width: 1280px) {
    main {
        width: 95%;
    }

    #container {
        color: white;
        line-height: 1.6;
        font-size: 19px;
    }
    
    #ziorbek {
        display: flex;
        box-shadow: 0rem 0rem 1rem black;
        height: 350px;
        overflow: hidden;
        padding: 0.5rem;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    
    #ziorbek:hover {
        backdrop-filter: blur(5px);
    }
    
    #ziorbek img {
        height: 300px;
        transform: translateX(0px) scale(150%) translateY(40px);
    }
    
    #T1 ul li {
        list-style-type: none;
    }
    
    #freeman {
        display: flex;
        box-shadow: 0rem 0rem 1rem black;
        height: fit-content;
        overflow: hidden;
        padding: 0.5rem;
        margin-top: 3rem;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    
    #freeman:hover {
        backdrop-filter: blur(5px);
    }
    
    #freeman ul li {
        list-style-type: none;
    }
    
    #T2 {
        transform: scaleX(-1) translateY(190px) rotate(20deg) translateX(-240px);
    }

    #T2 img {
        height: 150px;
        transform: scale(260%);
    }
    
    #maja {
        display: flex;
        box-shadow: 0rem 0rem 1rem black;
        height: 500px;
        overflow: hidden;
        padding: 0.5rem;
        margin-top: 3rem;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        font-size: 18px;
    }
    
    #maja:hover {
        backdrop-filter: blur(5px);
    }
    
    #maja img {
        height: 400px;
        transform: translateX(-10px) scale(125%) translateY(100px);
    }
    
    #T3 ul li {
        list-style-type: none;
    }
    
    #ing {
        display: flex;
        box-shadow: 0rem 0rem 1rem black;
        height: 350px;
        overflow: hidden;
        padding: 0.5rem;
        margin-top: 3rem;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
    }
    
    #ing:hover {
        backdrop-filter: blur(5px);
    }
    
    #ing ul li {
        list-style-type: none;
    }
    
    #T5 img {
        transform: scaleX(-1) translateX(-100px);
        height: 650px;
    }
    
    #kawa {
        display: flex;
        box-shadow: 0rem 0rem 1rem black;
        height: 350px;
        overflow: hidden;
        padding: 0.5rem;
        margin-top: 3rem;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
    }
    
    #kawa:hover {
        backdrop-filter: blur(5px);
    }
    
    #kawa img {
        height: 500px;
    }
    
    #T6 ul li {
        list-style-type: none;
    }

    .copyright {
        font-size: 10px;
    }
}

@media (max-width: 820px) {
    #navbar span {
        display: none;
    }

    #main-picture img {
        width: 200px;
    }

    #menu-nav {
        display: block;
    }

    #nav {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.473);
        backdrop-filter: blur(5px);
        text-align: center;
        z-index: 999;
        position: fixed;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        line-height: 2;
    }
    
    #nav a {
        color: white;
        font-size: 35px;
        text-decoration: none;
        padding-top: 4rem;
    }

    #nav button {
        font-size: 35px;
        background-color: transparent;
        border: 0;
        color: white;
        padding-top: 85%;
    }

    #menu-nav {
        background-color: rgb(255, 255, 255);
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 5px;
        font-weight: bolder;
        color: black;
        font-size: 1rem;
    }

    #ziorbek img,
    #T2 img,
    #maja img,
    #T5 img,
    #kawa img {
        display: none;
    }

    #T1,
    #freeman,
    #T3,
    #ing,
    #kawa {
        font-size: 16px;
    }

    #ziorbek,
    #freeman,
    #maja,
    #ing,
    #kawa {
        margin-top: 1rem;
        padding: 0rem;
    }
}